<launch>
  <arg name="depth_image" default="/D435/depth/image_rect_raw"/>
  <arg name="depth_info" default="/D435/depth/camera_info"/>
  <arg name="scan_topic" default="/scan"/>
  
  <arg name="fixed_frame_id" default="odom"/>
  
  <arg name="debug" default="false"/>
  
  <arg name="prefix" default="xterm -e gdb --args" if="$(arg debug)" />
  <arg name="prefix" default="" unless="$(arg debug)" />

  
  <group ns="egocylinder">


    <node name="test_node" pkg="egocylindrical" type="sensor_collection_tester" output="screen" launch-prefix="$(arg prefix)">        
      <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
      
      <rosparam subst_value="True">
        sensors:
          observation_sources: [depth, laser]
          depth:
            type: depth
            image_in: $(arg depth_image)
            info_in: $(arg depth_info)
            
            publish_update: true
            raytrace: true
            
          laser:
            type: laser
            scan_in: $(arg scan_topic)
            
            publish_update: true
            raytrace: false
      </rosparam>
      
      <!--<rosparam command="load" file="$(find egocylindrical)/params/depth_laser.yaml"/>-->
    </node>
  </group>
  
</launch>
