<launch>

  <node name="depth_to_egocylindrical_node" pkg="egocylindrical" type="egocylindrical_propagator_node" output="screen"/>

  <node name="egocylindrical_to_pointcloud" pkg="egocylindrical" type="pointcloud_generator_node" output="log"/>

  <node name="egocylindrical_to_range_image" pkg="egocylindrical" type="range_image_node" output="log"/>
  
</launch>
