<launch>
  <arg name="depth_image" default="/camera/depth/image_raw"/>
  
  <arg name="prefix1" default="valgrind --tool=callgrind"/>
  <arg name="valgrind" default="valgrind"/>
  <arg name="prefix" default=""/>

  <arg name="prefix2" default="xterm -e gdb --args" />
  
  <group ns="egocylinder">

    <node name="depth_to_egocylindrical_node" pkg="egocylindrical" type="egocylindrical_propagator_node" output="screen" launch-prefix="$(arg prefix)">
        <remap from="/camera/depth/image_raw" to="$(arg depth_image)"/>
    </node>

    <node name="egocylindrical_to_pointcloud" pkg="egocylindrical" type="point_cloud_node" output="screen" launch-prefix="$(arg prefix)"/>

    <node name="egocylindrical_to_range_image" pkg="egocylindrical" type="range_image_node" output="screen"  launch-prefix="$(arg prefix)">
        <param name="use_raw" value="False"/>
        <param name="image_topic" value="image"/>
    </node>
    
    <node name="egocylindrical_to_raw_range_image" pkg="egocylindrical" type="range_image_node" output="screen" >
        <param name="use_raw" value="True"/>
        <param name="image_topic" value="image_raw"/>
    </node>
  
  </group>
  
</launch>
