<launch>
  <arg name="depth_image" default="/camera/depth/image_raw"/>
  <arg name="depth_info" default="/camera/depth/camera_info"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="fixed_frame_id" default="odom"/>
  
  <arg name="viz_inflated" default="false"/>
  <arg name="range_images"  default="false"/>
  <arg name="sanity_check" default="false"/>
  <arg name="novel_points" default="false"/>
  
  <arg name="debug" default="false"/>
  <arg name="profile" default="false"/>

  <arg name="profile_args" value="" unless="$(arg profile)"/>
  <arg name="profile_args" value="xterm -e valgrind --tool=callgrind" if="$(arg profile)"/>


  <arg name="prefix" default="xterm -e gdb --args" if="$(arg debug)" />
  <arg name="prefix" default="$(arg profile_args)" unless="$(arg debug)" />

  <arg name="debugproj" default="false"/>
  <arg name="projected_prefix" default="xterm -e gdb --args" if="$(arg debugproj)" />
  <arg name="projected_prefix" default="" unless="$(arg debugproj)" />
  
  <arg name="hybrid" default="false"/>
  <arg name="use_laser" default="false"/>

  <arg name="laser_source" value="$(eval 'laser' if use_laser else '')"/>

  <arg name="use_labels" default="false"/>
  <arg name="labels_source" value="$(eval 'labels' if use_labels else '')"/>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find egocylindrical)/data/custom_rosconsole.conf"/>

  <group ns="egocylinder">

    <node name="depth_to_egocylindrical_node" pkg="egocylindrical" type="egocylindrical_propagator_node" output="log" launch-prefix="$(arg prefix)">        
      <rosparam subst_value="True">
        sensors:
          observation_sources: [depth, $(arg labels_source)]
          depth:
            type: labeled_depth
            image_in: $(arg depth_image)
            info_in: $(arg depth_info)

            publish_update: true
            raytrace: true

          labels
            
      </rosparam>
      <param name="points_out" value="data"/>
      <param name="filtered_points" value="filtered_points"/>
      <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
      
      <param name="orientation_fixed_frame_id" value="map" if="$(arg hybrid)"/> <!-- TODO: Make it use the most recent available transform so as not to have hard dependency on global pose-->
      <param name="orientation_fixed_frame_id" value="base" unless="$(arg hybrid)"/>
      <param name="origin_fixed_frame_id" value="camera_depth_optical_frame"/>

      <param name="width" value="256"/>
      <param name="height" value="120"/>
    </node>

    <node name="egocylindrical_to_pointcloud" pkg="egocylindrical" type="point_cloud_node" output="log">
      <remap from="egocylindrical_points" to="data"/>
      <remap from="cylindrical" to="points"/>
    </node>
    
    <node name="egocylindrical_to_projected_pointcloud" pkg="egocylindrical" type="projected_point_cloud_node" output="log" launch-prefix="$(arg projected_prefix)">
      <remap from="egocylindrical_points" to="data"/>
    </node>
      
    <node name="egocylindrical_to_labeled_pointcloud" pkg="egocylindrical" type="labeled_point_cloud_node" output="log" launch-prefix="$(arg projected_prefix)">
      <remap from="egocylindrical_points" to="data"/>
    </node>

    <group if="$(arg range_images)">

      <node name="egocylindrical_to_range_image" pkg="egocylindrical" type="range_image_node" output="log" launch-prefix="">
        <remap from="egocylindrical_points" to="data"/>
        <param name="use_raw" value="False"/>
        <param name="image_topic" value="image"/>
        <param name="can_image_topic" value="can_image"/>
      </node>
      
      <node name="egocylindrical_to_raw_range_image" pkg="egocylindrical" type="range_image_node" output="log" >
        <remap from="egocylindrical_points" to="data"/>
        <param name="use_raw" value="True"/>
        <param name="image_topic" value="image_raw"/>
        <param name="can_image_topic" value="can_image_raw"/>
      </node>
      
      <node name="range_image_inflator" pkg="egocylindrical" type="range_image_inflator_node" output="log" launch-prefix="">
        <remap from="egocylindrical_points" to="egocylinder_info"/>
        <remap from="range_image" to="image"/>
        <param name="image_topic" value="inflated_image"/>
      </node>
      
      <node name="raw_range_image_inflator" pkg="egocylindrical" type="range_image_inflator_node" output="log" launch-prefix="">
        <remap from="egocylindrical_points" to="egocylinder_info"/>
        <remap from="range_image" to="image_raw"/>
        <param name="image_topic" value="inflated_image_raw"/>
      </node>
      
      <node name="can_image_inflator" pkg="egocylindrical" type="can_image_inflator_node" output="log" launch-prefix="">
        <remap from="egocylindrical_points" to="data"/>
        <remap from="range_image" to="can_image"/>
        <param name="image_topic" value="inflated_can_image"/>
      </node>

    </group>
    
    <group if="$(arg viz_inflated)">
    
      <node name="inflated_range_converter" pkg="egocylindrical" type="range_image_converter_node" output="log">
        <remap from="data_out" to="inflated_data"/>
        <remap from="image_in" to="inflated_image"/>
        <remap from="info_in" to="egocylinder_info"/>
      </node>
      
      <node name="inflated_ec_point_publisher" pkg="egocylindrical" type="point_cloud_node" output="log">
        <remap from="egocylindrical_points" to="inflated_data"/>
        <remap from="cylindrical" to="inflated_points"/>
      </node>
      
      <node name="raw_inflated_range_image_converter_nodelet" pkg="egocylindrical" type="range_image_converter_node" output="log">
        <remap from="data_out" to="inflated_data_raw"/>
        <remap from="image_in" to="inflated_image_raw"/>
        <remap from="info_in" to="data"/>
      </node>
      
      <node name="raw_inflated_point_publisher_nodelet" pkg="egocylindrical" type="point_cloud_node" output="log">
        <remap from="egocylindrical_points" to="inflated_data_raw"/>
        <remap from="cylindrical" to="inflated_points_raw"/>
      </node>
      
    </group>
      
    <group if="$(arg sanity_check)">
    
      <node name="sanity_check_range_converter" pkg="egocylindrical" type="range_image_converter_node" output="log">
        <remap from="data_out" to="sanity_data"/>
        <remap from="image_in" to="image"/>
        <remap from="info_in" to="egocylinder_info"/>
      </node>
      
      <node name="sanity_check_ec_point_publisher" pkg="egocylindrical" type="point_cloud_node" output="log">
        <remap from="egocylindrical_points" to="sanity_data"/>
        <remap from="cylindrical" to="sanity_points"/>
      </node>
      
      <node name="raw_sanity_check_range_converter" pkg="egocylindrical" type="range_image_converter_node" output="log">
        <remap from="data_out" to="sanity_data_raw"/>
        <remap from="image_in" to="image"/>
        <remap from="info_in" to="egocylinder_info"/>
      </node>
      
      <node name="raw_sanity_check_ec_point_publisher" pkg="egocylindrical" type="point_cloud_node" output="log">
        <remap from="egocylindrical_points" to="sanity_data_raw"/>
        <remap from="cylindrical" to="sanity_points_raw"/>
      </node>
    </group>

    <group if="$(arg novel_points)">
      <node name="reprojected_depth_image_to_pointcloud" pkg="nodelet" type="nodelet" args="standalone depth_image_proc/point_cloud_xyz">
        <remap from="depth_to_egocylindrical_node/sensors/depth/debugging/camera_info" to="$(arg depth_info)"/>
        <remap from="image_rect" to="depth_to_egocylindrical_node/sensors/depth/debugging/reprojected_depth_image"/>
        <remap from="points" to="reprojected_depth_image_points"/>

        <param name="queue_size" value="40"/>
      </node>

      <node name="original_depth_image_to_pointcloud" pkg="nodelet" type="nodelet" args="standalone depth_image_proc/point_cloud_xyz">
        <remap from="depth_to_egocylindrical_node/sensors/depth/debugging/camera_info" to="$(arg depth_info)"/>
        <remap from="image_rect" to="depth_to_egocylindrical_node/sensors/depth/debugging/depth_image"/>
        <remap from="points" to="depth_image_points"/>

        <param name="queue_size" value="40"/>
      </node>
    </group>
    
  </group>
  
</launch>

